body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    background-color: #ff0000;
    color: #000000;
    text-align: center;
    padding: 0.5em 0;
}

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2em;
}

.box {
    width: 30%;
    background-color: #fde2e2; 
    margin: 1em;
    padding: 1.5em;
    border: 1px solid #e0a4a4; 
    box-sizing: border-box;
    color:#000000;
}

.longbox{
    width: 50%;
    background-color: rgb(102, 243, 179); 
    margin: 1em;
    padding: 1.5 em;
    /* border: 1px solid #e0a4a4;  */ 
    box-sizing: border-box;
    color:#000000;
}

footer {
    background-color: #ff0000;
    color: #000000;
    text-align: center;
    padding: 0.25;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.canvasbox{
    width: 300 px;
    height: 300 px;

}


iframe{
    display: block;
}
